{
    "parser": "@typescript-eslint/parser",
    "root": true,
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "jest": true
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
    "rules": {
        "accessor-pairs": "error",
        "array-bracket-newline": [
            "error",
            { "multiline": true, "minItems": 5 }
        ],
        "array-bracket-spacing": "error",
        "array-callback-return": "error",
        "arrow-body-style": ["warn", "as-needed"],
        "array-element-newline": [
            "error",
            { "multiline": true, "minItems": 4 }
        ],
        "arrow-parens": ["error", "as-needed"],
        "block-spacing": "error",
        "block-scoped-var": "error",
        "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
        "camelcase": "warn",
        "class-methods-use-this": "error",
        "comma-dangle": ["error", "never"],
        "comma-spacing": ["error", { "before": false, "after": true }],
        "comma-style": ["error", "last"],
        "computed-property-spacing": "error",
        "consistent-this": ["error", "self"],
        "curly": "error",
        "dot-location": ["error", "property"],
        "dot-notation": "error",
        "eol-last": ["warn", "always"],
        "eqeqeq": "error",
        "for-direction": "error",
        "func-call-spacing": "error",
        "func-style": [
            "error",
            "expression",
            {
                "allowArrowFunctions": true
            }
        ],
        "getter-return": "error",
        "global-require": "warn",
        "handle-callback-err": "warn",
        "id-length": "off",
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "key-spacing": [
            "warn",
            {
                "beforeColon": false,
                "afterColon": true
            }
        ],
        "max-nested-callbacks": ["error", 4],
        "max-statements": ["error", 10],
        "new-cap": ["warn", { "properties": false }],
        "new-parens": "error",
        "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }],
        "no-alert": "error",
        "no-array-constructor": "error",
        "no-console": "off",
        "no-duplicate-imports": "error",
        "no-else-return": "error",
        "no-eval": "error",
        "no-global-assign": "error",
        "no-implicit-coercion": "error",
        "no-implied-eval": "error",
        "no-invalid-this": "error",
        "no-multi-spaces": "error",
        "no-multiple-empty-lines": ["error", { "max": 1 }],
        "no-nested-ternary": "error",
        "no-new": "error",
        "no-new-func": "error",
        "no-new-object": "error",
        "no-new-require": "error",
        "no-new-wrappers": "error",
        "no-param-reassign": "error",
        "no-path-concat": "error",
        "no-plusplus": "error",
        "no-proto": "error",
        "no-return-await": "warn",
        "no-shadow-restricted-names": "error",
        "no-template-curly-in-string": "error",
        "no-this-before-super": "warn",
        "no-trailing-spaces": "error",
        "no-unneeded-ternary": "warn",
        "no-use-before-define": "error",
        "no-useless-computed-key": "error",
        "no-useless-constructor": "error",
        "no-useless-return": "warn",
        "no-unused-vars": "warn",
        "no-var": "error",
        "no-whitespace-before-property": "error",
        "no-with": "error",
        "nonblock-statement-body-position": ["error", "beside"],
        "one-var": ["error", "never"],
        "object-curly-spacing": ["warn", "always"],
        "object-shorthand": "error",
        "operator-assignment": "error",
        "operator-linebreak": ["error", "after"],
        "padded-blocks": ["warn", "never"],
        "prefer-arrow-callback": "error",
        "prefer-const": "error",
        "prefer-rest-params": "error",
        "prefer-spread": "error",
        "prefer-template": "error",
        "quote-props": ["error", "as-needed"],
        "quotes": ["error", "single"],
        "radix": "error",
        "require-await": "error",
        "semi": ["warn", "never"],
        "space-before-blocks": "error",
        "space-before-function-paren": [
            "error",
            {
                "anonymous": "never",
                "named": "never",
                "asyncArrow": "always"
            }
        ],
        "space-in-parens": ["error", "never"],
        "space-infix-ops": ["error", { "int32Hint": false }],
        "space-unary-ops": ["error", { "words": true, "nonwords": false }],
        "template-curly-spacing": ["error", "never"],
        "valid-jsdoc": "error",
        "vars-on-top": "warn",
        "wrap-iife": ["error", "inside"],
        "yoda": "error"
    }
}
