<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Static Site Boilerplate</title>
</head>

<body>
    <div class="container">
        <div class="logo__container">
            <div class="logo__wrapper">
                <img src="../../assets/images/logo_fantasma.svg" alt="Static Site Boilerplate" class="logo">
            </div>
            <h1>Static Site Boilerplate</h1>
        </div>
    </div>
</body>

</html>
