<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Static Site Boilerplate</title>
</head>

<body>
    <div class="container">
        <div class="logo__container">
            <div class="logo__wrapper">
                <img src="../../assets/images/beer-mug.svg" data-markup-inline alt="Static Site Boilerplate"
                    class="logo">
            </div>
            <h1>Static Site Boilerplate</h1>
            <p>Boilerplate para desenvolvimento de website utilizando <a href="https://handlebarsjs.com"
                    target="_blank"><code>Handlebars</code></a>, <a href="https://sass-lang.com"
                    target="_blank"><code>SASS/SCSS</code></a>,
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference"
                    target="_blank"><code>Javascript/ES15</code></a>,
                e <a href="https://webpack.js.org" target="_blank"><code>Webpack</code></a>.</p>

            <h2>Uso com PHP e Wordpress</h2>
            <blockquote>
                Caso prefira usar <code>PHP</code>, altere <code>apache</code> para <code class="bool">true</code> no
                arquivo <em>./config.json</em>.<br>
                E não esqueça de alterar a extensão do <em>index</em> para <code>index.php</code> em
                <em>src/templates/pages</em>.
            </blockquote>
        </div>
    </div>
</body>

</html>
