<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Static Site Boilerplate</title>
</head>

<body>
    <div class="container">
        <div class="logo__container">
            <div class="logo__wrapper">
                <img src="../../assets/images/logo_fantasma.svg" data-markup-inline alt="Static Site Boilerplate"
                    class="logo">
            </div>
            <h1>Static Site Boilerplate</h1>
            <p>Simple website boilerplate using <a href="https://handlebarsjs.com"
                    target="_blank"><code>Handlebars</code></a>, <a href="https://sass-lang.com"
                    target="_blank"><code>SASS/SCSS</code></a>,
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference"
                    target="_blank"><code>Javascript/ES15</code></a>,
                and <a href="https://webpack.js.org" target="_blank"><code>Webpack</code></a>.</p>
        </div>
    </div>
</body>

</html>
