<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Content description" />
    <meta name="author" content="Content Author" />
    <title>Documento</title>
</head>

<body>
    <h1>Static Site Boilerplate</h1>
    <img src="../../assets/img/action-action-energy-active-2402799.jpg" alt="">
</body>

</html>
