/*!
    Para que o comentário não seja descartado durante o
    processo de minimização do CSS, adicione um ponto de
    exclamação à primeira abertura de bloco de comentário.
*/

$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$color-background: #fff;
$color-foreground: #2f2f2f;

/* --------------- base --------------- */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: $font-family;
    background-color: rgb(247, 244, 250);
    background-attachment: fixed;
    background-blend-mode: lighten;
    color: rgb(93, 91, 97);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* --------------- /base --------------- */

.container {
    width: calc(100% - 3.2rem);
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

h1 {
    font-weight: 300;
    text-align: center;
    font-size: 3.2rem;
    padding: 2rem;
}

.logo {
    margin: 0 auto 1.5rem;
    max-width: 10rem;
    animation: floating 1s cubic-bezier(0.47, 0.13, 0.63, 0.95) both infinite;
    transition: all 1s cubic-bezier(0.47, 0.13, 0.63, 0.95);
    height: auto;
    width: auto;
}

.logo__wrapper {
    &:after {
        content: '';
        display: block;
        width: 10rem;
        height: 1.2rem;
        background: rgb(220, 230, 219);
        border-radius: 50%;
        margin: 1.5rem auto 0;
        animation: floating_shadow 1s cubic-bezier(0.47, 0.13, 0.63, 0.95) both
            infinite;
        transition: all 1s cubic-bezier(0.47, 0.13, 0.63, 0.95);
    }
}

.logo__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p {
    max-width: 45rem;
    line-height: 2;
    text-align: center;
}

code {
    padding: 0.2rem 0.8rem;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgb(239, 229, 241);
    color: #ff5363;
    font-size: 1.4rem;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a {
    text-decoration: none;

    &:hover code {
        background: #ff5363;
        color: #fff;
    }
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(1.5rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes floating_shadow {
    0% {
        transform: scale(0.25);
        background: rgb(225, 219, 230);
    }
    50% {
        transform: scale(0.5);
        background: rgb(215, 208, 218);
    }
    100% {
        transform: scale(0.25);
        background: rgb(225, 219, 230);
    }
}

h2 {
    margin: 3rem auto 0;
    color: rgb(139, 139, 139);
    font-weight: 300;
}

blockquote {
    padding: 1.5rem 2rem;
    background: rgba(226, 221, 233, 0.274);
    color: rgb(109, 109, 109);
    margin: 2rem;
    border-left: 3px solid #ff5363;
    border-radius: 3px;
    max-width: 75rem;
    text-align: center;
    line-height: 1.7;
}
